---
import Discussion from "../../components/Discussion.tsx";
import PageShell from "../../layouts/PageShell.astro";
import { parsePage } from "../../lib/markdown";
import { rawPage, staticPaths } from "../../lib/pages";

export function getStaticPaths() {
  return staticPaths();
}

const { slug } = Astro.params;
const raw = rawPage(slug);
const title = raw ? parsePage(raw).title : undefined;
---

<PageShell slug={slug} view="talk" title={title}>
  <main id="main" class="view-wrap"><Discussion slug={slug} client:load /></main>
</PageShell>
