---
import Discussion from "../../components/Discussion.tsx";
import PageShell from "../../layouts/PageShell.astro";

export function getStaticPaths() {
  const files = import.meta.glob("../../../content/**/*.md");
  return Object.keys(files).map((p) => ({
    params: { slug: p.replace("../../../content/", "").replace(/\.md$/, "") },
  }));
}

const { slug } = Astro.params;
---

<PageShell slug={slug} view="talk">
  <main id="main" class="view-wrap"><Discussion slug={slug} client:only="solid-js" /></main>
</PageShell>
